__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
.DS_Store
.env
.env.test
backend/app/evaluation/datasets/**/*.csv
backend/app/evaluation/datasets/**/*.txt
backend/app/evaluation/outputs/**/*.csv
backend/app/evaluation/outputs/**/*.json
